# Ignore Gradle project-specific cache directory
.gradle

# Ignore Mac trash
.DS_Store

# Ignore Gradle build output directory
build
/app/set.txt
/app/seq_cons.txt
/app/set_dynamic.txt
report/main.aux
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.out
report/main.synctex.gz
report/main.toc

# Ignore .txt files
seq_cons.txt
set.txt
seq_cons.txt
set_dynamic.txt